.mobile{
    margin-right: 2rem;
}


.contacts{
    display: block;
    border:2px solid rgb(7, 240, 104);
    float: right; 
    margin-right: 2rem;
    font-size: 18px;
    font-weight: none;
    font-family:fantasy
}

.navbar{
    border:2px solid red;
    height: 6rem;
    width: 100%;
}

.navbar> ul>li> img{
    display: inline;
    
    margin-right: 2rem;
    height: 50px;
    width: 50px; 
    margin-left: -3rem;
   
    
    
    border:2px solid rgb(203, 245, 17);

}

.navbar> ul>li{

    display: inline;
    margin-left: 6rem;
    font-size: 20px;
    padding-bottom: 2rem;
}

.navbar> ul>li>a{
    text-decoration: none;
    color: black;
}





