  

<div class="contacts">
    <span class="mobile">📞 +91-2536251422</span>
    <span class="email">📧 enquiry@gmail.com</span>
</div>
<br>



<div class="navbar" >
    <span class="logo">
        
    </span>

    <ul><Li><img src="../../favicon.ico"  alt="Logo"></Li>
        <Li><a routerLink="">Home</a></Li>
        <Li><a routerLink="bride">Bride List</a></Li>
        <Li><a routerLink="#">Grooms</a></Li>
        <Li><a routerLink="#">Enquiry</a></Li>
        <Li><a routerLink="#">FAQ</a></Li>
        <Li><a routerLink="#">Contact Us</a></Li>
    </ul>
</div>



<router-outlet></router-outlet>

<app-footer></app-footer>



