  

<div class="contacts">
    <span class="mobile">📞 +91-2536251422</span>
    <span class="email">📧 enquiry@gmail.com</span>
</div>
<br>



<div class="navbar" >
    <span class="logo">
        
    </span>

    <ul><Li><img src="../../favicon.ico"  alt="Logo"></Li>
        <Li><a href="#">Home</a></Li>
        <Li><a href="#">Bride List</a></Li>
        <Li><a href="#">Grooms</a></Li>
        <Li><a href="#">Enquiry</a></Li>
        <Li><a href="#">FAQ</a></Li>
        <Li><a href="#">Contact Us</a></Li>
    </ul>
</div>

<div class="banner-image"></div>