.display-img{
    height: 20rem;
    width: 100%;
    border: 2px solid violet;
    margin-top: 1rem;
}

.about-text{
    text-align: center;
    font-size: 40px;
}
.website-name{
    color: red;
}

.underline-img{
    margin-left: 33%;
    margin-top: -48px;
    margin-bottom: 20px;
    position: absolute;
    z-index: -1;
    width: 28rem;
    height: 90px;
}

.site-container{
    margin-bottom: 80px;
   
}


.about-section{
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    
    
}

.feature-text{
    text-align: center;
    margin-top: 20px;
}

.features-member{
    display: flex;
    
    border: 2px solid violet;
    height: 15rem;

}

.person-card{
    text-align: center;
    height: 15rem;
    width: 10rem;
    border: 1.5px rgb(14, 13, 13) solid;
    margin-left: 4rem;
  
}

.person-card>img{
    border-bottom: 0px;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.latest-text{
    text-align: center;
}

.latest-member{
    border: 2px solid violet;
    height: 15rem;
    display: flex;
}

.success-text{
    text-align: center;
    color: rgb(252, 156, 31);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.success-container{
    display: flex;
    border-left: 15px solid palevioletred ;
    border-right: 15px solid palevioletred ;
    border-radius: 30px;
    height: 18rem; 
    box-shadow: 1px 0px 3px 5px rgba(128, 126, 126, 0.671);
}


.success-item{
    /* border: 2px solid violet; */
    height: 18rem; 
    margin: 3px;
    width: 50%;
    margin-right: 0px;
    margin-top: 0px;
    }

    .partner-name{
        color: rgb(253, 85, 141);
        font-size: 20px;
        text-align: center;
        margin-bottom: 0px;
        font-size: 40px;
        font-family:Arial, Helvetica, sans-serif;
    }

.success-item>img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
 
}

.quets{
    display: inline;
    font-size: 40px;
    color: palevioletred;
    
}

.succeess-value{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0px;
    
}