<div class="display-img">
  <img [src]="imageArrey[imgIndex]" width="100%" height="320rem" />
</div>

<div class="site-container">
  <h1 class="about-text">
    About <span class="website-name">Metromonial.com</span>
  </h1>
  <img class="underline-img" src="../../assets/vecteezy.jpg" />
</div>

<div class="about-section">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora quisquam
    voluptates, harum cum illum iure beatae reprehenderit exercitationem,
    libero, quam incidunt in accusantium quae sit provident ratione! Unde,
    cupiditate perferendis?Lorem ipsum dolor sit amet, consectetur adipisicing
    elit. Fuga minima accusamus quisquam consectetur! Animi vitae doloribus
    sequi explicabo quasi ea asperiores totam! Fugiat corporis veniam magnam sed
    neque autem omnis.lorem Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Quaerat tenetur quos accusantium commodi, aliquam ducimus aperiam
    architecto vitae, perspiciatis assumenda expedita laudantium quisquam
    delectus iure tempore! Blanditiis placeat odit eligendi?Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Ab tempore ratione<br />

    consequatur, sed, recusandae fugiat obcaecati provident magnam excepturi
    est, facere modi quis! Molestiae a aliquam, at natus fugit nobis Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Consequatur quisquam labore
    hic nostrum dolores error ut distinctio officia dicta maiores id dolor, aut
    accusamus, ex ratione? Quam corrupti optio fuga!
  </p>
</div>

<h2 class="feature-text">Features Member</h2>
<div class="features-member">
  <div class="person-card" *ngFor="let person of members">
    <img
      class="card-img"
      alt="frofile Image"
      src="../../assets/OIP.jpg"
      height="155rem"
    />
    <h4>Name:{{ person.firstName }} {{ person.lastName }}</h4>
    <h4>Age:{{ person.age }}</h4>
  </div>
</div>

<h2 class="latest-text">Latest Profile</h2>
<div class="latest-member">
  <div class="person-card" *ngFor="let person of members">
    <img
      class="card-img"
      alt="frofile Image"
      src="../../assets/OIP.jpg"
      height="155rem"
    />
    <h4>Name:{{ person.firstName }} {{ person.lastName }}</h4>
    <h4>Age:{{ person.age }}</h4>
  </div>
</div>

<h1 class="success-text">Success Stories</h1>
<div class="success-container">
  <div class="success-item">
    <h2 class="partner-name">Hema & Manthan</h2>
    <span class="quets">,,</span>
    <P class="succeess-value">
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde tempora
      doloremque repellendus obcaecati eligendi. Ab mollitia officirecusandae
      beatae rerum voluptatem, suntaccusantium quod distinctio exercitationem?
      Odio ut iste libero lkjn.
      <span class="quets">,,</span>
    </P>
  </div>

  <div class="success-item">
    <img
      src="../../assets/success2.jpg"
      height="288px"
      width="100%"
      border-radius="30px"
    />
  </div>
</div>
