<div class="registartion-container">
    <div class="name-plate">Registration Form</div>
    <div class="registartioon-form">
        <form>
            <label>Person Id:<input type="text" ></label>
            <label>Name:<input type="text" ></label> 
            <label>Gender:<input type="text" ></label>
            <label>Date Of Birth:<input type="text" ></label>
            <label>Name:<input type="text" ></label>
            <label>Contact No:<input type="text" ></label>
            <label>Emai Id:<input type="text" ></label>

            <label>Meritial Status<input type="text" ></label>
            <label>Body Type:<input type="text" ></label>
            <label>Height:<input type="text" ></label>
            <label>Weight:<input type="text" ></label>
            <label>SKin Tone:<input type="text" ></label>
            <label>Name:<input type="text" ></label>

            <label>Father's Name:<input type="text" ></label>
            <label>Mother's Name:<input type="text" ></label>
            <label>Father's Occupation:<input type="text" ></label>
            <label>Mother's Occupation:<input type="text" ></label>
            <label>Brother's Profile:<input type="text" ></label>
            <label>Sister's Profile:<input type="text" ></label>
            <label>Family Type:<input type="text" ></label>
            

            <label>Riligion:<input type="text" ></label>
            <label>Cast Division:<input type="text" ></label>
            <label>Gotra:<input type="text" ></label>
            <label>Sub Cast:<input type="text" ></label>
            <label>Rashi:<input type="text" ></label>
            <label>Manglik:<input type="text" ></label>

            <label>Education:<input type="text" ></label>
            <label>Annual Income:<input type="text" ></label>
            <label>Work Location:<input type="text" ></label>
            <label>Occupation:<input type="text" ></label>

            <label>Address:<input type="text" ></label>
            <label>City:<input type="text" ></label>
            <label>State:<input type="text" ></label>
            <label>Country:<input type="text" ></label>


        </form>
    </div>
</div>
