<div class="dashboard-container">
    <div class="dasboard-item">Register</div>
    <div class="dasboard-item">View Registarion List</div>
    <div class="dasboard-item">View Enuqiries</div>
    <div class="dasboard-item">Riligion Management</div>
    <div class="dasboard-item">State Management</div>
    <div class="dasboard-item">City Management</div>
    <div class="dasboard-item">Cast Management</div>
    <div class="dasboard-item">Education</div>
    <div class="dasboard-item">Change Password</div>
    
</div>


